<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankzhou.intelligence.bi.mapper.BiChartMapper">

    <resultMap id="chartMap" type="com.frankzhou.intelligence.bi.domain.entity.BiChart">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="chartNo" column="chart_no" jdbcType="VARCHAR"/>
            <result property="chartName" column="chart_name" jdbcType="VARCHAR"/>
            <result property="analysisGoal" column="analysis_goal" jdbcType="VARCHAR"/>
            <result property="tableNo" column="table_no" jdbcType="VARCHAR"/>
            <result property="chartType" column="chart_type" jdbcType="VARCHAR"/>
            <result property="analysisResult" column="analysis_result" jdbcType="VARCHAR"/>
            <result property="resultData" column="result_data" jdbcType="VARCHAR"/>
            <result property="chartStatus" column="chart_status" jdbcType="INTEGER"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumn">
        id,chart_no,chart_name,analysis_goal,table_no,chart_type,analysis_result,
        result_data,chart_status,create_user,update_user,create_time,update_time,status
    </sql>

</mapper>
