<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankzhou.api.mapper.ApiExecuteSqlMapper">

    <resultMap id="executeSqlMap" type="com.frankzhou.api.domain.entity.ApiExecuteSql">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="apiId" column="api_id" jdbcType="BIGINT"/>
            <result property="apiVersion" column="api_version" jdbcType="VARCHAR"/>
            <result property="executeSql" column="execute_sql" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumn">
        id,api_id,api_version,execute_sql,
        create_user,update_user,create_time,update_time,status
    </sql>

</mapper>
