<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankzhou.intelligence.bi.mapper.ReliableMessageRecordMapper">

    <resultMap id="BaseResultMap" type="com.frankzhou.intelligence.bi.domain.entity.ReliableMessageRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="messageType" column="message_type" jdbcType="VARCHAR"/>
            <result property="messageJson" column="message_json" jdbcType="VARCHAR"/>
            <result property="messageStatus" column="message_status" jdbcType="TINYINT"/>
            <result property="nextRetryTime" column="next_retry_time" jdbcType="TIMESTAMP"/>
            <result property="retryCount" column="retry_count" jdbcType="TINYINT"/>
            <result property="maxRetryCount" column="max_retry_count" jdbcType="TINYINT"/>
            <result property="failReason" column="fail_reason" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,message_type,message_json,message_status,next_retry_time,retry_count,
        max_retry_count,fail_reason,create_time,update_time,status
    </sql>

</mapper>
